*{
    padding: 0px;
    margin: 0px;
}
.banner-img{
    width: 420px;
    height: 530px;
    margin-top: 70px;
    margin-right: 50px;
}
.banner-1{
    display: flex;
    justify-content: space-around;
    height: 80vh;
    align-items: center;
    background-image: url("../background/background_pink.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    
}
.btn-1{
    padding: 10px 20px;
    background-color: rgb(214, 86, 129);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px;
    margin-top: 20px;
    margin-left: 20px;
    font-size: large;
}
.h1-1{
    font-size: 55px;
    font-weight: bold;
    margin-left: 20px;
}
.p1{
    padding: 20px;
    font-size: 17px; 
    
    
}
.banner-2{
    display: flex;
    justify-content: space-around;
    height: 80vh;
    align-items: center;
    margin-left: 250px;
    margin-right: 250px;

}
.btn-2{
    padding: 10px 20px;
    background-color: rgb(214, 86, 129);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px;
    margin-top: 20px;
    margin-left: 310px;
    /* margin-right: 250px; */
    font-size: large;
}
.h1-2{
    font-size: 30px;
    font-weight: bold;
    margin-left: 150px;

}
.p2{
    padding: 20px;
    font-size: 17px; 
    margin-left: 90px;
    text-align: center;
}
.span1{
    color: palevioletred;
}
.banner-3{
    text-align: center;
    height: 80vh;
    align-items: center;
    padding: 20px;
}
.p3{
    padding: 20px;
    font-size: 15px; 
}
.banner-3-pic{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: auto;
    width: 60px;
    height: auto;
    gap: 25px;

}
.bn-4{
    background-image: url("../images/Rectangle\ 9.png");
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    

}

.banner-4 input{
    width: 80%;
    height: 50px;
    padding: 10px;
}
.h2-3{
    text-align: center;
    padding-top: 75px;
    margin-left: 250px;
    margin-right: 250px;
    
    
    
}



.banner-4{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 150px;
    
}
footer{
    background-color: black;
    text-align: center;
    height: 50vh;
    color: antiquewhite;
    justify-content: space-around;

    
}
.footer {
    padding-top: 120px;
 }


.banner-5{
    height: 80vh;
    text-align: center;
    
    color: rgb(21, 22, 23);
    

}
.h2-4{
    padding-top: 65px;
    font-size: 37px;

}

.h1_3{
    margin-top: 100px;
}
.banner-img5{
    background-image: url("../background/background_pink.png");
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
    
}
.banner-img6{
    background-image: url("../background/background_pink.png");
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;

}
.banner-img7{
    background-image: url("../background/background_pink.png");
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
    
}
.banner-img8{
    align-items: center;
    padding: 30px;
}
