*{
    padding: 0px;
    margin: 0px;
}
.banner-img{
    width: 420px;
    height: 530px;
    margin-top: 70px;
    margin-right: 50px;
}
.banner-1{
    display: flex;
    justify-content: space-around;
    height: 80vh;
    align-items: center;
    background-image: url("./background/background_pink.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    
}
.btn-1{
    padding: 10px 20px;
    background-color: rgb(214, 86, 129);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px;
    margin-top: 20px;
    margin-left: 20px;
    font-size: large;
}
.h1-1{
    font-size: 55px;
    font-weight: bold;
    margin-left: 20px;
}
.p1{
    padding: 20px;
    font-size: 17px; 
    
    
}
.banner-2{
    display: flex;
    justify-content: space-around;
    height: 80vh;
    align-items: center;
    margin-left: 250px;
    margin-right: 250px;

}
.btn-2{
    padding: 10px 20px;
    background-color: rgb(214, 86, 129);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px;
    margin-top: 20px;
    margin-left: 310px;
    /* margin-right: 250px; */
    font-size: large;
}
.h1-2{
    font-size: 30px;
    font-weight: bold;
    margin-left: 150px;

}
.p2{
    padding: 20px;
    font-size: 17px; 
    margin-left: 90px;
    text-align: center;
}
.span1{
    color: palevioletred;
}
.banner-3{
    text-align: center;
    height: 80vh;
    align-items: center;
    padding: 20px;
}
.p3{
    padding: 20px;
    font-size: 15px; 
}
.banner-3-pic{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: auto;
    width: 60px;
    height: auto;
    gap: 25px;

}
.bn-4{
    background-image: url("./images/Rectangle9.png");
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    

}

.banner-4 input{
    width: 1000px;
    height: 50px;
    padding: 5px;
}
.h2-3{
    text-align: center;
    padding-top: 75px;
    margin-left: 250px;
    margin-right: 250px;
    
    
    
}



.banner-4{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 150px;
    
}
footer{
    background-color: black;
    text-align: center;
    height: 50vh;
    color: antiquewhite;
    justify-content: space-around;

    
}
.footer {
    padding-top: 120px;
 }


.banner-5{
    height: 80vh;
    text-align: center;
    
    color: rgb(21, 22, 23);
    

}
.h2-4{
    padding-top: 65px;
    font-size: 37px;

}

.h1_3{
    margin-top: 100px;
}
.banner-img5{
    background-image: url("./background/background_pink.png");
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
    
}
.banner-img6{
    background-image: url("./background/background_pink.png");
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;

}
.banner-img7{
    background-image: url("./background/background_pink.png");
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
    
}
.banner-img8{
    align-items: center;
    padding: 30px;
}
.btn-a{
    padding: 10px 20px;
    background-color: rgb(214, 86, 129);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px;
    margin-top: 5px;
    margin-left: 50px;
    /* margin-right: 250px; */
    font-size: large;
}
.extra-container{
    background-color: rgb(228, 234, 237);
    padding-right: 50px;

}
.extra-title{
    text-align: center;
    padding-top: 70px;
    font-size: 20px;
    
    padding-left: 75px;

}
.para-extra{
    padding: 10px;
}
.extra{
    background-color: rgb(228, 234, 237);
    height: 55vh;
    text-align: center;
    padding-top: 30px;
    display: flex;
    padding-left: 350px;

}
.extra-img{
    display: flex;
    justify-content: space-around;
    /* margin-right: 70px; */
    padding-left: 10px;

}
.icon-extra1{
    height: 300px;
    width: 200px;
    padding-left: 0px;
    padding-top: 70px;
    padding-right: 0px;
    /* width: 250px; */

}
.icon-extra2{
    height: 300px;
    width: 200px;
    padding-top: 70px;
    padding-left: 90px;
    /* width: 250px; */

}
.icon-extra3{
    height: 300px;
    width: 200px;
    padding-top: 70px;
    padding-left: 95px;
    /* width: 250px; */
    /* padding-right: 50px; */

}
.box-container{
    padding-left: 100px;
    padding-right: 140px;
    padding-top: 50px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box{
    
    height: 190px;
    width: 230px;
    /* box-shadow: 4px 4px 15px grey; */
    background-color: #fffefe;
    text-align: center;
    /* padding: 50px; */
    color: rgb(0, 0, 0);
    margin-left: 50px;
    margin-top: 80px;
    padding-left: 120px;
    padding-right: 120px;
}
.box-description{
    margin-top: 45px;
}
.box-para{
    text-align: center;
    padding-top: 90px;
    font-size: 25px;
}
.para2{
    padding-top: 20px;
    font-size: 15px
}
.box-container2{

    padding-left: 140px;
    padding-right: 140px;
    padding-top: 100px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icon1{
    height: 300px;
    width: 200px;
    padding-left: 40px;
    padding-top: 70px;
}
.icon2{
    height: 300px;
    width: 280px;
    padding-top: 50px;
    padding-left: 20px;
    
}
.box2{
    height: 370px;
    width: 300px;
    background-image: url("./background/background_pink.png");
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;

    
}
